@font-face {
  font-family: 'GreenorganicNeue-Medium';
  src: url('../fonts/GreenorganicNeue-Medium.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/GreenorganicNeue-Medium.woff') format('woff'), 
  url('../fonts/GreenorganicNeue-Medium.ttf')  format('truetype'), 
  url('../fonts/GreenorganicNeue-Medium.svg#GreenorganicNeue-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GreenorganicNeue-Mono';
  src: url('../fonts/GreenorganicNeue-Mono.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/GreenorganicNeue-Mono.woff') format('woff'), 
  url('../fonts/GreenorganicNeue-Mono.ttf')  format('truetype'), 
  url('../fonts/GreenorganicNeue-Mono.svg#GreenorganicNeue-Mono') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Miller-Display';
  src: url('../fonts/Miller-Display.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Miller-Display.otf')  format('opentype'),
       url('../fonts/Miller-Display.woff') format('woff'), 
       url('../fonts/Miller-Display.ttf')  format('truetype'), 
       url('../fonts/Miller-Display.svg#Miller-Display') format('svg');
  font-weight: normal;
  font-style: normal;
}
